<div class="container">
    <div class="row ">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">

        <!-- Twitter -->
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="vdaubry">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        <!-- Google + -->
        <div class="g-plus" data-action="share" data-annotation="bubble"></div>
        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <!-- Facebook -->
        <div class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="button_count" style="position: relative; top: -8px; left: 33px;"></div>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=609039549219229&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    </div>
    </div>
    <div class="col-xs-2"></div>
</div>